* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

.header,
.footer {
  background-color: #1f2937;
  color: white;
}

.header {
  padding: 0 10%;
}

a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
  margin-left: 10px;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

span {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.hero {
  display: flex;
  border: 2px solid pink;
  align-items: center;
  height: 400px;
  gap: 20px;
  justify-content: center;
}

.herotext {
  height: 50%;
  flex: 1;
}

.heroheader {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  align-self: flex-start;
  margin-bottom: 10px;
}

.hero .para {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 10px;
}

.placeholder {
  background-color: grey;
  border: 2px solid red;
  flex: 1;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
