* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

.header,
.footer {
  background-color: #1f2937;
  color: white;
}

.header {
  padding: 0 10%;
}

a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
  margin-left: 10px;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

span {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.hero {
  display: flex;
  align-items: center;
  height: 400px;
  gap: 20px;
  justify-content: center;
}

.herotext {
  display: flex;
  height: 50%;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.heroheader {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  align-self: flex-start;
  margin-bottom: 10px;
}

.hero .para {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 10px;
}

.placeholder {
  background-color: grey;
  flex: 1;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #3882f6;
  color: white;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
}

.herotext button {
  align-self: flex-start;
  justify-content: flex-end;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 36px;
  font-weight: 800;
  margin: 30px 0;
}

.cards {
  display: flex;
  flex-flow: column wrap;
  height: 300px;
  align-items: center;
  gap: 10px 50px;
}
.cards .image {
  border: 5px solid rgb(7, 164, 216);
  height: 170px;
  width: 170px;
  border-radius: 10px;
  flex: 0 0 auto;
}

.cards p {
  width: 170px;
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 100px 450px;
}

.quote .text {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  height: 140px;
}

.quote .author {
  font-weight: bold;
  font-size: 20px;
  align-self: flex-end;
}

.signup {
  display: flex;
  padding: 50px 100px;
  margin: 100px 400px;
  justify-content: space-between;
  background-color: #3882f6;
  border-radius: 10px;
  color: white;
}

.signup button {
  border-color: white;
}

.action .first {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.footer {
  display: flex;
  margin-top: auto;
  justify-content: center;
  padding: 50px 0;
}
